@media (min-width: 749px) {
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
}





@media (max-width: 952px) {
    .menu-toggle{
        display: flex;
        
      }
      .nav-list{
        flex-direction: column;
        position: absolute;
        top: 140px;
        right: 30px;
        background-color: black;
        width: 30%;
        padding: 10px;
        border-radius: 0 0 15px 15px;
        border: 3px solid gray;
        border-top: none;
        display: none;

      }

      #menu-toggle:checked + .nav-list{
        display: flex;
      }
    }

      



{}