@media (max-width: 1283px) {
  .conteiner-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 
}
/* pantalla desde 932px hasta 575px */
@media  (max-width: 952px) {
    .menu-toggle{
        display: flex;
        
      }

      body {
        overflow-x: hidden;
      }

    

      .nav-list{
        flex-direction: column;
        position: absolute;
        top: 140px;
        right: 30px;
        background-color: black;
        width: 30%;
        padding: 10px;
        border-radius: 0 0 15px 15px;
        border: 3px solid gray;
        border-top: none;
        display: none;

      }

      #menu-toggle:checked + .nav-list{
        display: flex;
      }

/* main, .conteiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

      h1{
        width: 450px;
       
      }

    

      .info-section p{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .conteiner-info p, .soy-section p{
        text-align: center;
        width: 640px; 
      }
      .soy-un-div p, .soy-un-div-2 p{
        text-align: center;
       width: 480px ;
      }

      .soy-un-div , .soy-un-div-2{
        width: 592px;
      }

      main{
        width: 133%;
      }
      
.info-section img {
  display: none;
}



.soy-div-conteiner{
  display: block;
} 

.soy-un-div-2{
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
}
 .product-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 640px;
  }
  .product{
    width: 400px;
  }

    .mapa{
      width: 640px;
    }
    .conteiner-map h2{
      text-align: center;

    }
    .map-div{
      width: 640px;
    }

    .conteiner-formulario{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    footer {
      width: 133%;
    }
   }
/* pantalla de 575px hasta 360px */
   @media (max-width: 575px) and (min-width: 360px) { 
    

  body {
    overflow-x: hidden;
    width: 100%;
   margin-left: 30%;
  }

    .menu-toggle{
      display: flex;
      
      
    }
  

    .nav-list{
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 30px;
      background-color: black;
      width: 30%;
      padding: 10px;
      border-radius: 0 0 15px 15px;
      border: 3px solid rgba(128, 128, 128, 0.637);
      border-top: none;
      display: none;
  
    }
  
    .nav-list a{
      font-size: 15px;
    }
  
       #menu-toggle:checked + .nav-list{
        display: flex;
      }
  
      .header{
        margin: 0;
          width: 100%; 
      
         
          }
          
        header img
        {
  width: 100px;
  height: 50px;
  
    }
  
  
   nav{
    display: flex;
  left: 20px;
     }
     
     main{
    width: 167%;
    margin: 0 0 0 0;
  }
  
  .conteiner {
    width: 166%;
  }

     .info-section, .soy-section{
      text-align: center;
     }
  
  h1{
    font-size: 30px;
    width: 400px;
  }
     .conteiner-info p,
     .soy-section p,
     .soy-p-section{
      width: 500px;
      padding: 10px;
      font-size: 25px;
      text-align: center;
     }
  
 
  
   .soy-section h2, .section-card h2, .product-section h2, .conteiner-map h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       width: 300px;
    font-size: 25px;
  }
    .soy-div-conteiner{
      display: block;
      width: 500px;
       display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    } 
    .soy-un-div-2{
      width:320px ; 
      text-align: center;
    }
  
  
  
    .soy-un-div p, .soy-un-div-2 p{
     text-align: center;
     width: 350px;
    }
  
     .product-conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
      }
  
      .product{
        width: 270px;
      }
  
      .img-product{
        width: 200px;
        height: 200px;
      }
      .product-section h2{
         text-align: center;
      }
  
      .info-text{
        text-align: center;
        gap: 10px;
      }
        
      .div-formulario, .div-formulario2,.checkbox, .div-formulario-final    {
  width: 300px;
   flex-direction: column;
    justify-content: center;
    
      }
    
        
  
      .conteiner-formulario {
  width:500px ;
  
   }
  
   iframe{
    width: 350px;
    height: 350px;
    justify-content: center;
   }
  
   .mapa{
    width: 170px;
  }
  
  .mapa h3{
    width: 240px;
  
  }
  
  .conteiner-map h2{
    text-align: center;
  
  }
  .map-div{
    width: 350px;
  }
  
  .div-span{
    width: 350px;
    height: 350px;
  }
  
  .map-div h3{
    text-align: center;
    width: 250px;
  }
  
  iframe{
   
    width: 350px;
    height: 250px;
  }
  
  footer {
    width: 167%;
  }
  
  footer img{
    width: 80px;
  height: 40px;
  
  }
  .pie-pag{
     display: flex;
    
    justify-content: space-between;
  }
  .pie-pag a{
    font-size: 15px;
  }
  
    }

 




