/* pagina login */

@media screen and (max-width: 1920px){
 
    header a {
        font-size: 20px;
      }
    
      .div-formulario{
        
        width: 400px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      } 
    
    
    .pie-pag2 img {
        width: 90px;
        height: 60px;
      } 
     
      footer a {
       font-size: 10px;
      }
    
    }
     
    
    
    /* pantalla desde 1438px hasta 963px */
    
    @media (max-width: 1280px){
      #menu-toggle:checked + .nav-list {
        display: flex;
      }
    
      .menu-toggle {
        display: flex;
        font-size: 20px;
      } 
    
      .nav-list {
        flex-direction: column;
        position: absolute;
        top: 130px;
        right: 30px;
        background-color: #000000c4;
        width: 160px;
        padding: 10px;
        border-radius: 0 0 15px 15px;
        border: 3px solid gray;
        border-top: none;
        display: none;
      }
    
    
        .conteiner-formulario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center; 
        }
        .div-formulario{
        
            width: 400px;
            height: 480px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          
         
    }
    
    
    /* pantalla desde 960px hasta 575px */
    
    @media (max-width: 960px){
        
    
    .conteiner-formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }
    .div-formulario{
    
        width: 400px;
        height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    
      
    
      .Login input,
    .enviar input {
      width: 60px;
      border: 2px solid #000;
      font-size: 15px;
    }
    
    .Login input:hover {
      background-color: rgba(240, 248, 255, 0.963);
      color: rgba(0, 0, 255, 0.452);
    }
    
    .Login,
    .enviar {
      margin-top: 15px;
      text-align: center;
    
    }
    .span-formulario {
      color: red;
    } 
    
    
    
    }
    
    
    /* pantalla de 575px hasta 360px */
    @media (min-width: 360px) and (max-width: 575px) {
      header img{
        width: 130px;
        height: 60px;
      }  
    
      .menu-toggle {
        display: flex;
       font-size: 20px;
       
      }
    
      .nav-list {
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: #000000c4;
        width: 140px;
        padding: 15px;
        border-radius: 0 0 15px 15px;
        border: 3px solid rgba(128, 128, 128, 0.968);
        border-top: none;
        display: none;
      }
    
      .nav-list a {
        font-size: 20px;
      }
      #menu-toggle:checked + .nav-list {
        display: flex;
      }
    
      .conteiner-formulario{
        width: 300px;
      }
      .div-formulario{
        width: 300px;
        height: 360px;
      }
    
      .span-formulario2{
        color:red;
        font-size: 15px;
        padding-top: 10px;
      }
    
      .enviar, .login{
       margin-top: 0%;
    
      }
    
    
        
    
      footer img{
        width: 100px;
       height: 40px;;
           
         } 
    }